.sidebar-container{
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 25%;
    min-height: 400px;
    border-radius: 10px;
}