.app {
  width: 800px;
  margin: 95px auto 0;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 20px;

  &-container {
    border: 1px red solid;
    display: flex;
  }
}

.main-container {
  background: transparent;
  width: 60%;
  margin: 0 auto;
  border: 1px yellow solid;
  padding: 20px;
}

.headings {
  margin-bottom: 20px;
}
.heading {
  color: hsl(213, 96%, 18%);
  margin-bottom: 5px;
}
.sub-heading {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
